.button {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  white-space: nowrap;
  text-align: center;
  color: var(--color-bg-dark);
  letter-spacing: .5px;
  padding: 10px 20px;
  border-radius: var(--border-radius-base);
  border: 1px solid transparent;
  box-shadow: var(--box-shadow-large);
  background-color: transparent;
  transition: all 300ms ease-in-out;
}

.button-sm { padding: 5px; }

.button:hover { opacity: 0.8; }
.button-white { background-color: var(--color-white); }
.button-success { color: var(--color-white); background-color: var(--color-success); }
.button-warning { background-color: var(--color-warning); }
.button-info { background-color: var(--color-info); }
.button-danger { background-color: var(--color-danger); }
.button-none { color: var(--color-white); border-color: var(--color-white); }
.button-disable { background-color: var(--color-light); }